<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Primeiros Passos</h4>
    {% include docs_ul.html items='home quickstart installation usage structure configuration' %}
    <h4>Seu Conteúdo</h4>
    {% include docs_ul.html items='frontmatter posts drafts pages variables migrations' %}
    <h4>Customização</h4>
    {% include docs_ul.html items='templates permalinks pagination plugins extras' %}
    <h4>Deploy</h4>
    {% include docs_ul.html items='github-pages deployment-methods' %}
    <h4>Diversos</h4>
    {% include docs_ul.html items='troubleshooting sites resources upgrading' %}
    <h4>Meta</h4>
    {% include docs_ul.html items='contributing history' %}
  </aside>
</div>
