<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}/">Geral</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.url }}/docs/home/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentação</span></a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.url }}/news/">Novidades</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">Veja no </span>GitHub</a>
  </li>
</ul>
